a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: gray;
}

.content {
  display: none;
}

ul li {
  display: inline;
}

.navi {
  margin-right: auto;
  width: 32%;
  text-align: left;
  margin-top: 120px;
}

.title {
  margin-top: 30px;
}

.maintitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.subheader {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.login {
  margin-bottom: 10px;
}
.login a {
  color: gray;
  cursor: pointer;
}
.login a:hover {
  color: white;
  cursor: pointer;
}

code {
  word-break: break-word;
}

.job > ul li {
  display: list-item;
  list-style-type: disc;
}

.contact > li {
  display: list-item;
  list-style-type: none;
}

.sociallist {
  margin-top: 120px;
}

.sociallist > li {
  line-height: 20px;
  margin-left: 185px;
  display: list-item;
  list-style-type: none;
}

.skills > li {
  display: list-item;
  list-style-type: none;
}

.hindugoldfish {
  float:right;
  padding: 10px;
}

.profilepic {
  float:left;
  padding: 10px;
}

.aboutme {
  margin-top: 70px;
}

.maincontact {
  margin-top: 100px;
}

.innerContent {
  margin-top: 120px;
}

.blogposts {
  margin-left: 5px;
}

.blogposts a:hover {
  color: #39c;
}

.blogposts > ul li {
  display: list-item;
  list-style-type: disc;
  margin-bottom: 25px;
}

.projects > ul {
  padding: 0px;
}

.projects li {
  line-height: 30px;
  display: list-item;
  list-style-type: none;
}

.scrollNavi {
  margin-top: 0px;
}

.contact {
  width: 100%;
}

.contact > table {
  width: 100%;
  border-collapse: collapse;
}

.contact > tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.contact > tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.contact > th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

.secondarycontact {
  margin-top: 40px;
}

.projectlist > ul li {
  display: list-item;
  list-style-type: disc;
}

.projectlist > li {
  line-height: 25px;
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

.projectlist a {
  color: #39c;
}

