<div class="navi">
<div><a href="/">Home</a></div>
<div><a href="/about">About</a></div>
<div><a href="/projects">Projects</a></div>
<div><a href="/resume">Resume</a></div>
<div><a href="/blog">Blog</a></div>
<div><a href="/rss">RSS</a></div>
</div>
<div class="social" style="display:none">
<ul class="sociallist">
  <li><a href="https://github.com/seanwestfall"><img src="/images/github.png"></a></li>
  <li><a href="https://twitter.com/Alphonse86"><img src="/images/twitter.png"></a></li>
  <li><a href="https://www.linkedin.com/pub/sean-westfall/68/202/918/"><img src="/images/linkedin.png"/></a></li>
</ul>
</div>
